body{
    background-color:	#768692
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: 	#e8edee;

}
button,input{
    color: black;
    cursor: pointer;
    background-color: inherit;
    border: 2px solid #e8edee;
    padding: 5px;
    border-radius: 15px;
}


.main{
    color: 9ea19a;
    border: 2px solid #e8edee;
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
    width: 30%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.container>* {

    margin: 20px;
}

.result {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img, p{
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}